body {

}

h1 {
    text-decoration: underline;
    display: inline-block;
    float: left;
    clear: left;
    width: 425px;
    text-align: right;
}

h2 {
    text-decoration: underline;
    display: inline-block;
    float: left;
    clear: left;
    width: 425px;
    text-align: right;
}

h3 {
    text-decoration: underline;
    display: inline-block;
    float: left;
    clear: left;
    width: 425px;
    text-align: right;
}

subtext {
    text-decoration: underline;
    display: inline-block;
    float: left;
    clear: left;
    width: 425px;
    text-align: center;
}

label{
    display: inline-block;
    float: left;
    clear: left;
    width: 250px;
    text-align: right;
}

tablelabel{
    display: inline-block;
    float: left;
    clear: left;
    width: 100%;
    text-align: center;
    padding: 20px;
}

input {
  display: inline-block;
  float: left;
}

select{
  display: inline-block;
  float: left; 
}

header{
    width: 425px;
    margin-left: auto;
    margin-right: auto;
}

section{
    width: 600px;
    margin-left: auto;
    margin-right: auto;
}

radio{
    float: left;
}

th, td{
    padding: 10px;
}

